:root {
  --lead-color: rgb(22, 135, 192);
  --bg-img: url("https://sergiuszr.github.io/HTML-Full/images/bg4.png");
  --a-hover: rgba(128, 128, 128, 0.545);
  --opacity-val: 0.7;
  --border: 1px solid rgb(67, 67, 67);
  --contact-card-bg: rgba(255, 255, 255, 0.753);
  --contact-card-env: rgb(67, 67, 67);
  --contact-card-name: rgb(67, 67, 67);
  --button-font-color: rgb(67, 67, 67);
  --modal-bg-color: rgba(255, 255, 255, 0.98);
  --navbar-sticky-color: rgb(255, 255, 255);
  --h1-color: rgb(152, 152, 152);
  --post-txt: rgb(154, 154, 154);
  --post-bg-color: rgba(231, 231, 231, 0.113);
  --deal-add-bg: rgba(241, 241, 241);
}
